@use "sass:color";
@use "sass:map";
@use "../variables";

.button,
button {
  background: var(--primary-background-color);
  border: none;
  border-radius: var(--radius);
  color: var(--primary-text-color);
  cursor: pointer;
  font-size: map.get(variables.$fonts, "fs");
  line-height: map.get(variables.$fonts, "ls");
  margin: 0 map.get(variables.$space, "sm");
  padding: map.get(variables.$space, "sm") map.get(variables.$space, "md");
  transition: all 300ms ease-in;
  &:hover,
  &:focus,
  &:active {
    background: color.scale(variables.$primary, $lightness: 30%);
  }
  &:only-child {
    margin: 0;
  }
}
