@use "sass:map";
@use "../variables";

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: map.get(variables.$space, "sm") 0;
    border-bottom: 1px solid map.get(variables.$primary, "background-color");
}
